/*Общие стили*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Обеспечиваем, что body занимает минимум 100% высоты экрана */
}

header, footer {
    background-color: #fd0000;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    flex: 1; /* Позволяем контейнеру растягиваться по вертикали */
    display: flex;
}

.main-content {
    flex: 1;  /* Позволяем основному контенту растягиваться */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.article {
    width: 30%;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

.article:nth-child(3n+1) { background-color: #07d9f5; }
.article:nth-child(3n+2) { background-color: #88f709; }
.article:nth-child(3n+3) { background-color: #f89808; }

.sidebar {
    width: 200px;
    background-color: #ddd;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.fixed-sidebar {
    position: sticky;
    top: 0;
}

header {
    background-color: #fd0000;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav {
    text-align: center;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

nav li {
    display: inline-block;
    margin: 0 1em;
}

nav a {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #1a0bf5;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #777;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        flex-direction: column;

    }

    .main-content {
      /*Уменьшаем отступы*/
        padding: 10px;
        flex-direction: column;

    }

    .article {
    /*Статьи занимают почти всю ширину экрана */
        width: 90%;
        margin-bottom: 10px;
    }

    .sidebar {
    /*Боковая панель flex-контейнере*/
        width: 100%;
        padding: 10px;
        display: flex;
        /* Горизонтальное расположение элементов */
        flex-direction: row;
        /* Выравниваем рекламные блоки */
        justify-content: space-around;
         /* Выравниваем по центру */
        align-items: center;
    }

    .fixed-sidebar {
        position: static;
        height: auto; /*Не нужна */
    }

    .sidebar > * {
        width: auto; /*Автоматическая ширина */
        margin: 5px;  /*Отступ*/
    }

    nav ul {
        display: block;
    }

    nav li {
        display: block;
        margin: 0.5em 0;
    }
} 